<a href="https://colab.research.google.com/github/shourya2002-geek/ML-and-Data-analytics/blob/cardekho_dataset/Univ_Ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
from sklearn import preprocessing
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
%matplotlib inline

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Data/Training Data.csv")

In [5]:
df.head()

   Id   income  age  ...  current_job_years current_house_years risk_flag
0   1  1303835   23  ...                  3                  13         0
1   2  7574516   40  ...                  9                  13         0
2   3  3991815   66  ...                  4                  10         0
3   4  6256451   41  ...                  2                  12         1
4   5  5768871   47  ...                  3                  14         1

[5 rows x 13 columns]

In [6]:
df.drop(['Id','city','state'],axis=1,inplace=True)
df.head()

    income  age  experience  ... current_job_years current_house_years risk_flag
0  1303835   23           3  ...                 3                  13         0
1  7574516   40          10  ...                 9                  13         0
2  3991815   66           4  ...                 4                  10         0
3  6256451   41           2  ...                 2                  12         1
4  5768871   47          11  ...                 3                  14         1

[5 rows x 10 columns]

In [7]:
s1 = pd.get_dummies(df['married'])
df = pd.concat([df,s1],axis=1)
s2 = pd.get_dummies(df['house_ownership'])
df = pd.concat([df,s2],axis=1)
s3 = pd.get_dummies(df['car_ownership'])
df = pd.concat([df,s3],axis=1)
s4 = pd.get_dummies(df['profession'])
df = pd.concat([df,s4],axis=1)

df.drop(['married','house_ownership','car_ownership','profession'],axis=1,inplace=True)

In [8]:
cols = df.columns.tolist()
cols

['income',
 'age',
 'experience',
 'current_job_years',
 'current_house_years',
 'risk_flag',
 'single',
 'norent_noown',
 'owned',
 'rented',
 'no',
 'yes',
 'Air_traffic_controller',
 'Analyst',
 'Architect',
 'Army_officer',
 'Artist',
 'Aviator',
 'Biomedical_Engineer',
 'Chartered_Accountant',
 'Chef',
 'Chemical_engineer',
 'Civil_engineer',
 'Civil_servant',
 'Comedian',
 'Computer_hardware_engineer',
 'Computer_operator',
 'Consultant',
 'Dentist',
 'Design_Engineer',
 'Designer',
 'Drafter',
 'Economist',
 'Engineer',
 'Fashion_Designer',
 'Financial_Analyst',
 'Firefighter',
 'Flight_attendant',
 'Geologist',
 'Graphic_Designer',
 'Hotel_Manager',
 'Industrial_Engineer',
 'Lawyer',
 'Librarian',
 'Magistrate',
 'Mechanical_engineer',
 'Microbiologist',
 'Official',
 'Petroleum_Engineer',
 'Physician',
 'Police_officer',
 'Politician',
 'Psychologist',
 'Scientist',
 'Secretary',
 'Software_Developer',
 'Statistician',
 'Surgeon',
 'Surveyor',
 'Technical_writer',
 'Technician',
 'Technology_specialist',
 'Web_designer']

In [9]:
cols.insert(0, cols.pop(cols.index('risk_flag')))
cols

['risk_flag',
 'income',
 'age',
 'experience',
 'current_job_years',
 'current_house_years',
 'single',
 'norent_noown',
 'owned',
 'rented',
 'no',
 'yes',
 'Air_traffic_controller',
 'Analyst',
 'Architect',
 'Army_officer',
 'Artist',
 'Aviator',
 'Biomedical_Engineer',
 'Chartered_Accountant',
 'Chef',
 'Chemical_engineer',
 'Civil_engineer',
 'Civil_servant',
 'Comedian',
 'Computer_hardware_engineer',
 'Computer_operator',
 'Consultant',
 'Dentist',
 'Design_Engineer',
 'Designer',
 'Drafter',
 'Economist',
 'Engineer',
 'Fashion_Designer',
 'Financial_Analyst',
 'Firefighter',
 'Flight_attendant',
 'Geologist',
 'Graphic_Designer',
 'Hotel_Manager',
 'Industrial_Engineer',
 'Lawyer',
 'Librarian',
 'Magistrate',
 'Mechanical_engineer',
 'Microbiologist',
 'Official',
 'Petroleum_Engineer',
 'Physician',
 'Police_officer',
 'Politician',
 'Psychologist',
 'Scientist',
 'Secretary',
 'Software_Developer',
 'Statistician',
 'Surgeon',
 'Surveyor',
 'Technical_writer',
 'Technician',
 'Technology_specialist',
 'Web_designer']

In [10]:
df = df.reindex(columns= cols)

In [11]:
X = df.iloc[:,1:]
Y = df.iloc[:,:1]
X = preprocessing.scale(X)
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [13]:
from sklearn.tree import DecisionTreeClassifier
DTClassifier= DecisionTreeClassifier(criterion='entropy', random_state=0)
DTClassifier.fit(X_train,Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [14]:
Y_pred = DTClassifier.predict(X_test)
print(metrics.accuracy_score(Y_test,Y_pred))

0.8834656084656085

In [17]:
lg = LogisticRegression()
lg.fit(X_train,np.ravel(Y_train))
Y_pred2 = lg.predict(X_test)
print(metrics.accuracy_score(Y_test,Y_pred2))

0.8773677248677249